@{

    ViewData["Title"] = "..::Cadastro Cliente::..";
}

@* Codigo formulario cadastro cliente *@
<div class="container">
    @* LINHA TITULO *@
    <div class="row">
        <div class="col text-center">
            <br />
            <br />
            <br />
            <h1>Cadastro Cliente</h1>
        </div>
    </div>
    @* LINHA NOME, CPF,RF E DN *@
    <div class="row">
        <div class="col">
            <label for="" class="col-sm-2 col-form-label fw-bold">
                Nome
            </label>
            <input type="text" class="form-control" id="" />
        </div>
        <div class="col-lg-3">
            <label for="" class="col-form-label fw-bold">
                CPF
            </label>
            <input type="text" class="form-control" id="">
        </div>
        <div class="col-lg-2">
            <label for="" class="col-form-label fw-bold">
                RG
            </label>
            <input type="text" class="form-control" id="">
        </div>
        <div class="col-lg-2">
            <label for="" class="col-form-label fw-bold text-nowrap">
                Data Nascimento
            </label>
            <input type="text" class="form-control" id="">
        </div>
    </div>
    @* LINHA ENDEREÇO *@
    <div class="row">
        <div class="col-lg-2">
            <label for="" class="col-sm-2 col-form-label fw-bold">
                CEP
            </label>
            <input type="text" class="form-control" id="" />
        </div>
        <div class="col-lg-2">
            <label for="" class="col-sm-2 col-form-label fw-bold">
                UF
            </label>
            <input type="text" class="form-control" id="" />
        </div>
        <div class="col-lg-3">
            <label for="" class="col-sm-2 col-form-label fw-bold">
                Cidade
            </label>
            <input type="text" class="form-control" id="" />
        </div>
        <div class="col-lg-2">
            <label for="" class="col-sm-2 col-form-label fw-bold">
                Bairro
            </label>
            <input type="text" class="form-control" id="" />
        </div>
        <div class="col-lg">
            <label for="" class="col-sm-2 col-form-label fw-bold">
                Rua
            </label>
            <input type="text" class="form-control" id="" />
        </div>
        <div class="col-lg-1">
            <label for="" class="col-sm-2 col-form-label fw-bold">
                Numero
            </label>
            <input type="text" class="form-control" id="" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="" class="col-sm-2 col-form-label fw-bold">
                Complemento
            </label>
            <input type="text" class="form-control" id="" />
        </div>
    </div>
    <div class="row mt-3 justify-content-md-end">
        <div class="col-3 d-flex justify-content-end">
            <input type="submit" class="btn btn-outline-info btn-lg" name="name" value="Cadastrar" />
        </div>
    </div>
</div>
